#server
NODE_ENV=
PORT=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

CORS_WHITELIST=

MONGODB_URI=
REDIS_URL=
REDIS_QUEUE_URL=
REDIS_BULL_PREFIX=

SESSION_SECRET=

CLIENT_URL=
AI_SERVICE_URL=

YOUTUBE_API_KEY=